.chatLive{
    background-color: rgba(241, 241, 241, 0.993);
    height:85%;
}

.messagesVent {
    width: 90%;
    position: absolute;
    bottom: 80px;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}

.bottomVentInput{
    width: 100%;
    padding: 20px 20px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
}

.bottomVentInput #messageVentInput{
    margin-right: 10px;
    border-radius: 10px;
}